/* mathwidget wrapper by joygram 2022/12/06 */
.ck-mathwidget__wrapper {
	display: flex;
	justify-content: center;
}

/* Editing
 Assigned to textarea
 */
.ck-mathwidget__wrapper .ck-mathwidget__editing-view {
	padding: 16px;
	/* just like pre element */
	background-color: hsla(0, 0%, 78%, 0.3);
	/* just like pre element */
	min-height: 200px;
	border: 0;
	resize: vertical;
	font-size: 14px;
	outline: 0;
}

/* Preview */
.ck-mathwidget__preview {
	padding: 16px;
	background-color: hsla(43, 85%, 49%, 0.227);
	min-height: 200px;
	border: 0;
	resize: vertical;
	font-size: 14px;
	outline: 0;
}

/* Preview error state */
[id^="dmath-"] {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
}

[id^="dmath-"] svg {
	display: block;
	width: 60%;
	height: auto;
}

/* Source mode */
.ck-mathwidget__source-mode .ck-mathwidget__editing-view {
	width: 100%;
}

.ck-mathwidget__source-mode .ck-mathwidget__preview {
	display: none;
}

/* Split mode */
.ck-mathwidget__split-mode .ck-mathwidget__editing-view {
	width: 50%;
}

.ck-mathwidget__split-mode .ck-mathwidget__preview {
	width: 50%;
}

/* Preview mode */
.ck-mathwidget__preview-mode .ck-mathwidget__editing-view {
	display: none;
}

.ck-mathwidget__preview-mode .ck-mathwidget__preview {
	width: 100%;
}
